body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.theme-color{
    color:white;
    background-color: black;
}
.button-style{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.link-style{
    cursor: pointer;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px grey;
}
.navbar-logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar-links{
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.logo{
    background-size: cover;
    width: 20px;
    height: 20px;
}

.search{
    background-image: url("./assets/search.png");
}
.cart{
    background-image: url("./assets/cart.png");
}
.user{
    background-image: url("./assets/user.png");
}

.intro{
    min-height: 700px;
    background-color: #f1eef5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 133px;
    flex-wrap: wrap;
}

.intro-text {
    width: 420px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.intro-text-title {
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;
}

.intro-text-description {
    font-weight: 300;
}

.intro-text > button {
    width: 173px;
    height: 50px;
}

.intro-images {
    width: 700px;
    height: 500px;
    display: flex;
    gap: 5px;
}

.intro-images-vertical {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.intro-images-vertical > div {
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 5px;
}


.intro-image-n {
    background-image: url(./assets/sample-eyeglass1.png);
    
}
.intro-image-p {
    background-image: url(./assets/sample-eyeglass2.png);
}
.intro-image-f {
    width: 400px;
    background-image: url(./assets/sample-eyeglass3.png);
    background-size: cover;
    border-radius: 5px
}

.intro-image-tag {
    width: fit-content;
    padding: 7px 15px;
    margin-top: 12px;
    margin-left: 15px;
    font-size: 12px;
}
.products{
    padding-left:140px;
    margin-top:100px;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #f1eef5;
}
.products-category{
    font-size: 25px;
}

.products-header {
    display: flex;
    justify-content: space-between;
}
.products-expander{
    margin-right:146px;
    text-decoration: underline;
    cursor: pointer;
}
.product-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    /* flex-wrap: wrap; */
}
.product {
    margin-top: 40px;
    width: 280px;
    height: fit-content;
    flex: 0 0 auto;
    padding: 20px 20px 40px 20px;
    background-color: white;


}
.product-info {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.product-image {
    width: 100%;
    border-radius: 5px;
}

.product-buttons {
    display: flex;
    justify-content: space-between;
}

.product-add, .product-buy {
    border: none;
    width: 45%;
    height: 35px;
    margin-right: 10px;
    margin-top: 10px;

}

footer {
    color: white;
    background-color: black;
    width: 100%;
    height: fit-content;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-weight: 700;

}

.footer-links ul {
    padding: 0;
}

.footer-links li {
    list-style-type: none;
    font-weight: 300;
    cursor: pointer;
}
.footer-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}