.cart{
    padding: 45px;

}

.cart-body{
    display:flex;
    align-items: start;
    flex-wrap: wrap;
    height:100%;
    gap:50px;
    
    
}
.cart-items {
    overflow-y:auto;
    max-height: 500px;
     padding: 0px 5px;
}

.item {
    width: 600px;
    /* width: fit-content; */
    height: 80px;
    padding: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
    background-color: white;
}

.item-image {
    width: 100px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.item-quantity {
    width: 50px;
    font-size: 22px;
    border: none;
    margin-left: 100px;
    text-align: center;
}

.item-quantity::placeholder{
    color: black;
}

.trash-btn {
    width: 25px;
}

hr {
    /* width: 625px; */
    width: 100%;
    margin-left: 0;
}

.price{
    width:388px;
    height: fit-content;
    border-radius: 20px;
    padding: 30px 20px;

    
}
.price-value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.check-out{
    width:350px;
    height: 60px;
    border-radius: 12px;
    margin-top: 26px;
    padding: 0 18px;
    display: flex;
    color: black;
    background-color:#f1eef5;
    justify-content: space-between;
    align-items: center;

}
