.login-page{
    margin:0;
    background-color: #f1eef5;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
.login-left{
    background-color: white;
    width:1000px;
    height:100%;
    border: 1px solid white;

}
.login-form{
    z-index: 1;
    width:450px;
    height:fit-content;
    background-color: white;
    margin-top: 80px;
    margin-left: 200px;
    padding: 73px 60px 60px 60px;
    box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.welcome{
    margin-top: 60px;
    color:gray;
}
.logIn{
    font-size: 55px;
    font-weight: bold;
}

.user-input-field{
    width: 100%;
    height: 40px;
    background-color: #f1eef5;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-bottom:23px;

}
.login-btn{
    width: fit-content;
    height: 40px;
    padding: 11px 22px;
    margin: 17px 0px 30px 160px;
}

.login-btn-arrow{
    width: 17px;
    margin-left: 15px;
    margin-bottom: 3px;
}

.forgot-password-link {
    text-align: end;
    font-size: 14px;
    opacity: 0.5;
}

.signup{
    text-align: center;
    position: relative;
}

.signup-label {
    opacity: 0.5;
}

.login-image{
    /* width: 860px; */
    width: auto;
    height: 700px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.signup-options {
    padding: 25px 25px;
    box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -30px;
    right: -55px;
    display: none;
    pointer-events: none;
    border-radius: 20px;
}
.signup-link {
    padding-right: 30px
}
.signup-link:hover + .signup-options, 
.signup-options:hover {
    display: block;
    pointer-events: auto;
}