.notification {
    position: fixed;
    width: 40%;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    z-index: 999;
    animation: slide-in 0.5s forwards;
    opacity: 0.9;
}

.green{
   background-color: #44d349;
}
.red {
    background-color: #ef1a1c;
}
  .notification-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .notification-content h2 {
    margin-top: 0;
  }

  @keyframes slide-in {
    from {
      top: -100px;
    }
    to {
      top: 10px;
    }
  }