.notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
    background-color: #44d349;
  }

  .notification-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .notification-content h2 {
    margin-top: 0;
  }