.settings {
    display: flex;
}

.settings-body {
    background-color: #f1eef5;
    padding: 25px;
    padding: 45px;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 25px;
}

.profile-image, 
.profile-image-small  {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 0px 5px 5px grey;
    
}
.profile-image-small {
    width: 130px;
    height: 130px;
}

.profile-image-adder {
    width: 100%;
    display: flex;
    gap: 30px;
}

.settings-body > table {
    border: 1px solid #d3d3d3;
    width: 100%;
    margin-top: 40px;
    
}

.settings-body > table th {
    text-align: start;
    border-bottom: 1px solid #d3d3d3;
}
.settings-body > table tr:last-child > td{
    text-align: end;
    border-top: 1px solid #d3d3d3;
    padding-bottom: 10px;
}

.settings-body > table th,
.settings-body > table td {
    padding: 14px 24px 0px 24px;
    width: 50%;
}

.settings-body > table input {
    width: 100%;
    height: 40px;
}

.settings-body textarea {
    margin-left: 24px;
    margin-top: 14px;
    
}